<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>hdo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D3ACD53B1F050C810081DF5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3ACD54F1F050C810081DF5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3ACD55A1F050C810081DF5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
